In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/stats.csv', header=None)
data.columns = ['job_id', 'name', 'job_type', 'job_index', 'status', 'date_started' ,'date_ended', 'total_minutes', 'total_seconds', 'feature_count', 'patient_count', 'luigi_workers', 'batch_size', 'memory_caching', 'precomputed_seg', 'reordered_nlpql', 'chained_queries', 'redis_cache']
data.head(n=20)

,job_id,name,job_type,job_index,status,date_started,date_ended,total_minutes,total_seconds,feature_count,patient_count,luigi_workers,batch_size,memory_caching,precomputed_seg,reordered_nlpql,chained_queries,redis_cache
0,800,SyntheticQuery_WithLimit_0,SyntheticQuery,0,COMPLETED,2018-12-06 22:16:28.117966,2018-12-06 22:16:52.854911,0,24.736945,603,179,4,25,False,False,False,False,False
1,801,SyntheticQuery_WithLimit_1,SyntheticQuery,1,COMPLETED,2018-12-06 22:17:58.271652,2018-12-06 22:20:33.815115,2,35.543463,0,0,4,25,False,False,False,False,False
2,802,SyntheticQuery_WithLimit_2,SyntheticQuery,2,COMPLETED,2018-12-06 22:20:28.842493,2018-12-06 22:25:10.206253,4,41.363760,362,112,4,25,False,False,False,False,False
3,803,SyntheticQuery_WithLimit_3,SyntheticQuery,3,COMPLETED,2018-12-06 22:26:00.185582,2018-12-06 22:32:04.123987,6,3.938405,215,100,4,25,False,False,False,False,False
4,804,SyntheticQuery_WithLimit_4,SyntheticQuery,4,COMPLETED,2018-12-06 22:26:31.613964,2018-12-06 22:30:26.063621,3,54.449657,309,112,4,25,False,False,False,False,False
5,805,SyntheticQuery_WithLimit_5,SyntheticQuery,5,COMPLETED,2018-12-06 22:31:03.680620,2018-12-06 22:42:18.019257,11,14.338637,416,95,4,25,False,False,False,False,False
6,806,SyntheticQuery_WithLimit_6,SyntheticQuery,6,COMPLETED,2018-12-06 22:31:35.003414,2018-12-06 22:35:23.289185,3,48.285771,268,86,4,25,False,False,False,False,False
7,807,SyntheticQuery_WithLimit_7,SyntheticQuery,7,COMPLETED,2018-12-06 22:41:08.139790,2018-12-06 22:47:44.553893,6,36.414103,362,112,4,25,False,False,False,False,False
8,808,SyntheticQuery_WithLimit_8,SyntheticQuery,8,COMPLETED,2018-12-06 22:41:39.941974,2018-12-06 22:50:08.327397,8,28.385423,633,198,4,25,False,False,False,False,False
9,809,SyntheticQuery_WithLimit_9,SyntheticQuery,9,COMPLETED,2018-12-06 22:50:11.859180,2018-12-06 22:50:32.909505,0,21.050325,362,112,4,25,False,False,False,False,False
10,810,SyntheticQuery_WithLimit_10,SyntheticQuery,10,COMPLETED,2018-12-06 22:50:42.132549,2018-12-06 22:55:13.513952,4,31.381403,362,112,4,25,False,False,False,False,False
11,811,SyntheticQuery_WithLimit_11,SyntheticQuery,11,FAILURE,2018-12-06 22:55:13.111708,2018-12-06 22:58:17.921327,3,4.809619,273,99,4,25,False,False,False,False,False
12,812,SyntheticQuery_WithLimit_12,SyntheticQuery,12,COMPLETED,2018-12-06 22:55:44.158498,2018-12-06 23:00:16.282554,4,32.124056,362,112,4,25,False,False,False,False,False
13,813,SyntheticQuery_WithLimit_13,SyntheticQuery,13,COMPLETED,2018-12-06 22:57:16.436179,2018-12-06 23:05:23.407041,8,6.970862,215,100,4,25,False,False,False,False,False
14,814,SyntheticQuery_WithLimit_14,SyntheticQuery,14,COMPLETED,2018-12-06 23:00:48.978672,2018-12-06 23:06:36.083078,5,47.104406,362,112,4,25,False,False,False,False,False
15,815,SyntheticQuery_WithLimit_15,SyntheticQuery,15,COMPLETED,2018-12-06 23:01:20.861085,2018-12-06 23:10:24.836303,9,3.975218,215,100,4,25,False,False,False,False,False
16,816,SyntheticQuery_WithLimit_16,SyntheticQuery,16,COMPLETED,2018-12-06 23:02:52.557929,2018-12-06 23:20:15.091112,17,22.533183,1137,112,4,25,False,False,False,False,False
17,817,SyntheticQuery_WithLimit_17,SyntheticQuery,17,COMPLETED,2018-12-06 23:16:26.716087,2018-12-06 23:36:36.753610,20,10.037523,1137,112,4,25,False,False,False,False,False
18,818,SyntheticQuery_WithLimit_18,SyntheticQuery,18,COMPLETED,2018-12-06 23:16:58.463648,2018-12-06 23:24:52.481727,7,54.018079,309,112,4,25,False,False,False,False,False
19,819,SyntheticQuery_WithLimit_19,SyntheticQuery,19,COMPLETED,2018-12-06 23:18:30.314320,2018-12-06 23:40:12.804382,21,42.490062,778,207,4,25,False,False,False,False,False

In [3]:
baseline = data[data.job_id<=899][['job_index','feature_count', 'patient_count']]
baseline.columns = ['job_index', 'baseline_feature_count', 'baseline_patient_count']
baseline.head(n=25)

    job_index  baseline_feature_count  baseline_patient_count
0           0                     603                     179
1           1                       0                       0
2           2                     362                     112
3           3                     215                     100
4           4                     309                     112
5           5                     416                      95
6           6                     268                      86
7           7                     362                     112
8           8                     633                     198
9           9                     362                     112
10         10                     362                     112
11         11                     273                      99
12         12                     362                     112
13         13                     215                     100
14         14                     362                     112
15         15                     215                     100
16         16                    1137                     112
17         17                    1137                     112
18         18                     309                     112
19         19                     778                     207
20         20                     603                     179
21         21                     416                      95
22         22                     362                     112
23         23                     416                      95
24         24                     134                     101

In [4]:
evaluated = data[data.job_id>899]
evaluated['prop_name'] = evaluated[['luigi_workers', 'batch_size', 'memory_caching', 'precomputed_seg', 'reordered_nlpql', 'chained_queries', 'redis_cache']].astype(str).sum(axis=1)
evaluated = evaluated[['job_index', 'prop_name', 'feature_count', 'patient_count']]
evaluated.columns = ['job_index', 'prop_name', 'eval_feature_count', 'eval_patient_count']
evaluated.head()

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,job_index,prop_name,eval_feature_count,eval_patient_count
100,2,425FalseTrueFalseFalseFalse,362,112
101,3,425FalseTrueFalseFalseFalse,215,100
102,4,425FalseTrueFalseFalseFalse,309,112
103,5,425FalseTrueFalseFalseFalse,416,95
104,6,425FalseTrueFalseFalseFalse,268,86

In [5]:
merged = pd.merge(baseline, evaluated, how='left', on='job_index')
merged.loc[(merged['prop_name'] == '425TrueFalseFalseFalseFalse'),'prop_name'] = 'memory_caching'
merged.loc[(merged['prop_name'] == '425TrueFalseTrueFalseFalse'),'prop_name'] = 'memory_caching|reordered_nlpql'
merged.loc[(merged['prop_name'] == '410FalseFalseFalseFalseFalse'),'prop_name'] = 'batch_size10'
merged.loc[(merged['prop_name'] == '4100FalseFalseFalseFalseFalse'),'prop_name'] = 'batch_size100'
merged.loc[(merged['prop_name'] == '425FalseFalseTrueFalseFalse'),'prop_name'] = 'reordered_nlpql'
merged.loc[(merged['prop_name'] == '425FalseTrueFalseFalseFalse'),'prop_name'] = 'precomputed_nlpql'
merged.loc[(merged['prop_name'] == '425FalseFalseFalseTrueFalse'),'prop_name'] = 'chained_queries'
merged.loc[(merged['prop_name'] == '425FalseFalseFalseFalseTrue'),'prop_name'] = 'redis_cache'
merged.loc[(merged['prop_name'] == '525FalseFalseFalseFalseFalse'),'prop_name'] = 'luigi_workers5'
merged['same_features'] = merged.apply (lambda row: row['baseline_feature_count']==row['eval_feature_count'],axis=1)
merged['same_patients'] = merged.apply (lambda row: row['baseline_patient_count']==row['eval_patient_count'],axis=1)
merged['same'] = merged.apply (lambda row: row['same_features'] and row['same_features']==row['same_patients'],axis=1)

merged

,job_index,baseline_feature_count,baseline_patient_count,prop_name,eval_feature_count,eval_patient_count,same_features,same_patients,same
0,0,603,179,memory_caching,603,179,True,True,True
1,0,603,179,memory_caching|reordered_nlpql,603,179,True,True,True
2,0,603,179,batch_size10,545,163,False,False,False
3,0,603,179,reordered_nlpql,603,179,True,True,True
4,0,603,179,chained_queries,0,0,False,False,False
5,0,603,179,batch_size100,969,289,False,False,False
6,0,603,179,redis_cache,603,179,True,True,True
7,1,0,0,memory_caching,778,207,False,False,False
8,1,0,0,memory_caching|reordered_nlpql,778,207,False,False,False
9,1,0,0,batch_size10,699,181,False,False,False
10,1,0,0,reordered_nlpql,778,207,False,False,False
11,1,0,0,chained_queries,0,0,True,True,True
12,1,0,0,batch_size100,1204,331,False,False,False
13,1,0,0,redis_cache,778,207,False,False,False
14,2,362,112,precomputed_nlpql,362,112,True,True,True
15,2,362,112,memory_caching,362,112,True,True,True
16,2,362,112,memory_caching|reordered_nlpql,362,112,True,True,True
17,2,362,112,batch_size10,331,97,False,False,False
18,2,362,112,reordered_nlpql,362,112,True,True,True
19,2,362,112,chained_queries,362,112,True,True,True
20,2,362,112,batch_size100,579,177,False,False,False
21,2,362,112,redis_cache,362,112,True,True,True
22,3,215,100,precomputed_nlpql,215,100,True,True,True
23,3,215,100,memory_caching,215,100,True,True,True
24,3,215,100,memory_caching|reordered_nlpql,215,100,True,True,True
25,3,215,100,batch_size10,171,88,False,False,False
26,3,215,100,reordered_nlpql,215,100,True,True,True
27,3,215,100,chained_queries,215,100,True,True,True
28,3,215,100,batch_size100,298,159,False,False,False
29,3,215,100,redis_cache,215,100,True,True,True
...,...,...,...,...,...,...,...,...,...
766,98,362,112,precomputed_nlpql,362,112,True,True,True
767,98,362,112,memory_caching,362,112,True,True,True
768,98,362,112,memory_caching|reordered_nlpql,362,112,True,True,True
769,98,362,112,batch_size10,331,97,False,False,False
770,98,362,112,reordered_nlpql,362,112,True,True,True
771,98,362,112,chained_queries,362,112,True,True,True
772,98,362,112,batch_size100,579,177,False,False,False
773,98,362,112,redis_cache,362,112,True,True,True
774,99,362,112,precomputed_nlpql,362,112,True,True,True
775,99,362,112,memory_caching,362,112,True,True,True
776,99,362,112,memory_caching|reordered_nlpql,362,112,True,True,True
777,99,362,112,batch_size10,331,97,False,False,False
778,99,362,112,reordered_nlpql,362,112,True,True,True
779,99,362,112,chained_queries,362,112,True,True,True
780,99,362,112,batch_size100,579,177,False,False,False
781,99,362,112,redis_cache,362,112,True,True,True
782,0,603,179,memory_caching,603,179,True,True,True
783,0,603,179,memory_caching|reordered_nlpql,603,179,True,True,True
784,0,603,179,batch_size10,545,163,False,False,False
785,0,603,179,reordered_nlpql,603,179,True,True,True
786,0,603,179,chained_queries,0,0,False,False,False
787,0,603,179,batch_size100,969,289,False,False,False
788,0,603,179,redis_cache,603,179,True,True,True
789,1,778,207,memory_caching,778,207,True,True,True
790,1,778,207,memory_caching|reordered_nlpql,778,207,True,True,True
791,1,778,207,batch_size10,699,181,False,False,False
792,1,778,207,reordered_nlpql,778,207,True,True,True
793,1,778,207,chained_queries,0,0,False,False,False
794,1,778,207,batch_size100,1204,331,False,False,False
795,1,778,207,redis_cache,778,207,True,True,True

In [6]:
less = merged[['job_index', 'prop_name', 'same']]
less

     job_index                       prop_name   same
0            0                  memory_caching   True
1            0  memory_caching|reordered_nlpql   True
2            0                    batch_size10  False
3            0                 reordered_nlpql   True
4            0                 chained_queries  False
5            0                   batch_size100  False
6            0                     redis_cache   True
7            1                  memory_caching  False
8            1  memory_caching|reordered_nlpql  False
9            1                    batch_size10  False
10           1                 reordered_nlpql  False
11           1                 chained_queries   True
12           1                   batch_size100  False
13           1                     redis_cache  False
14           2               precomputed_nlpql   True
15           2                  memory_caching   True
16           2  memory_caching|reordered_nlpql   True
17           2                    batch_size10  False
18           2                 reordered_nlpql   True
19           2                 chained_queries   True
20           2                   batch_size100  False
21           2                     redis_cache   True
22           3               precomputed_nlpql   True
23           3                  memory_caching   True
24           3  memory_caching|reordered_nlpql   True
25           3                    batch_size10  False
26           3                 reordered_nlpql   True
27           3                 chained_queries   True
28           3                   batch_size100  False
29           3                     redis_cache   True
..         ...                             ...    ...
766         98               precomputed_nlpql   True
767         98                  memory_caching   True
768         98  memory_caching|reordered_nlpql   True
769         98                    batch_size10  False
770         98                 reordered_nlpql   True
771         98                 chained_queries   True
772         98                   batch_size100  False
773         98                     redis_cache   True
774         99               precomputed_nlpql   True
775         99                  memory_caching   True
776         99  memory_caching|reordered_nlpql   True
777         99                    batch_size10  False
778         99                 reordered_nlpql   True
779         99                 chained_queries   True
780         99                   batch_size100  False
781         99                     redis_cache   True
782          0                  memory_caching   True
783          0  memory_caching|reordered_nlpql   True
784          0                    batch_size10  False
785          0                 reordered_nlpql   True
786          0                 chained_queries  False
787          0                   batch_size100  False
788          0                     redis_cache   True
789          1                  memory_caching   True
790          1  memory_caching|reordered_nlpql   True
791          1                    batch_size10  False
792          1                 reordered_nlpql   True
793          1                 chained_queries  False
794          1                   batch_size100  False
795          1                     redis_cache   True

[796 rows x 3 columns]

In [11]:
counts = less.groupby(["prop_name"], as_index=False).count()
counts = counts[['prop_name', 'same']]
counts.columns = ['prop_name', 'total']
counts['valid'] = 0
prop_names = ['luigi_workers5', 'chained_queries', 'precomputed_nlpql', 'reordered_nlpql', 'batch_size10', 'batch_size100', 'chained_queries', 'memory_caching', 'memory_caching|reordered_nlpql', 'redis_cache']
for i in prop_names:
    valid = less[(less.prop_name == i) & (less.same == True)].count()[0]
    counts.loc[(counts['prop_name'] == i),'valid']  = valid
counts['accuracy'] = counts.apply (lambda row: float(row['valid'])/float(row['total']),axis=1)
final = counts.loc[counts['prop_name'] != '425FalseFalseFalseFalseFalse'][['prop_name', 'accuracy']]
final.sort_values(by='accuracy', ascending=False)

                        prop_name  accuracy
5  memory_caching|reordered_nlpql  0.950000
7                     redis_cache  0.939394
4                  memory_caching  0.930000
8                 reordered_nlpql  0.930000
6               precomputed_nlpql  0.927083
3                 chained_queries  0.690000
1                    batch_size10  0.000000
2                   batch_size100  0.000000